<div id = "contact-page">
	<img class = "img-circle" src = "./images/contact-image.jpg"></img>

	<div id = "contacts">		
		<a href = "https://www.linkedin.com/in/indrajeetrajput" target = "_blank"><span style="font-size:3em; margin-right:60px; color: #4875B4" class="fa fa-linkedin"></span></a>

		<a href = "https://www.facebook.com/inder.rajput.12" target = "_blank"><span style="font-size: 3em; margin-right:60px; color: #3B5998" class="fa fa-facebook"></span></a>
			
		<a href = "https://github.com/InderRajput" target = "_blank"><span style="font-size:3em; margin-right:60px" class="fa fa-github"></span></a>

		<a href = "https://twitter.com/rajput043" target = "_blank"><span style="font-size:3em; margin-right:60px; color: #4099ff" class="fa fa-twitter"></span></a>

		<a href = "https://plus.google.com/113309179982836427988" target = "_blank"><span style="font-size:3em; margin-right:60px; color: #C63D2D" class="fa fa-google"></span></a>
</div>